<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col bg-primary footer position-fixed left-0 bottom-0">
        <p class="text-center mt-3 text-white"><span class="m-2 fs-5"><i
              class="fa-brands fa-facebook"
            ></i></span>
          <span class="m-2 fs-5"><i class="fa-brands fa-twitter"></i></span>
          <span class="m-2 fs-5"><i class="fa-brands fa-instagram"></i></span>
          <span class="m-2 fs-5"><i
              class="fa-brands fa-whatsapp"
            ></i></span></p>
      </div>
    </div>
  </div>
</div>