<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="#">Park Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/addstaff">Add Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/viewstaff">View Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/createroutine">Create Routine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/viewroutine">View Routine</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link text-white" href="/edit/:id">Edit Staff</a>
        </li> --}}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/login"
          >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>